body {
  margin: 0;
  background-color: #D9DCD6;
  font-family: "gilroy-light";
}

@font-face {
  font-family: "gilroy";
  src: url('./fonts/gilroy-extrabold.ttf');
}

@font-face {
  font-family: "gilroy-light";
  src: url('./fonts/gilroy-light.ttf');
}

#title {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #3A7CA5;
}

form {
  display: block;
  width: 500px;
  margin: 50px auto;
  color: #020202;
  font-weight: bolder;
  font-size: 1.5em;
}

button, input {
  font: .6em;
  border: 1px solid black;
  border-radius: 5px;
  background: #C2C5BB;
  cursor: pointer;
  padding-block-start: 0.5em;
  padding-block-end: 0.3em;
}

#title h1 {
  padding-top: 30px;
  margin: 0;
  color: #F8F8FF;
  font-family: "gilroy";
}

#wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 0px;

}

.master_grid {

  display:grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px auto;
  float: left;
  grid-gap: 10px;
  margin-bottom: 40px;
}

#leaderboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fivexfive {
  grid-template-columns: repeat(5, 1fr);
  width: 600px;

}

.sixxsix {
  grid-template-columns: repeat(6, 1fr);
  width: 700px;

}
.leaderboardTitles {
  text-align:center;
}

.leaderdiv {
  grid-column: 1/4;
  text-align: center;
}
.square {
  width: 110px;
  height: 110px;
  border: 1px solid black;
  background-image: url('../images/Codeclan.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.square:hover{
  opacity: 0.5;
}

img {
  width: 110px;
  height: auto;
  display: none;
}

.hidden {
  display:none;
}

.show {
  display:block;
}

#playerInfo {
  width: 300px;
  margin: 100px auto;
}

#playerInfo a {
  display:block;
}

#winner_message {
  text-align: center;
}

.center {
  text-align: center;
}


footer {
  grid-column: 1/4;
  width: 100%;
  background-color: #E6C372;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
}

footer p {
  padding-bottom: 0;
  margin-bottom: 0;
}
