
body {
  font-family: gilroy-extrabold;
  font-size: 2em;
  background-color:

}

h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 4em;
  margin-inline-end: 5em;
  padding: 0em
  font-weight: bold;
  border: 1px solid #B4654A;
  text-align: center;
}

form {
  display: block;
  margin-top: 0em;
  margin-left: 2em;
  color: #020202;
  font-weight: bolder;
}

p{
  font-size: 0.9em
}

button, input {
  font: .6em sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  background: #C2C5BB;
  cursor: pointer;
  padding-block-start: 0.5em;
  padding-block-end: 0.3em;

}


#wrapper {

  display: grid;
  grid-template-columns: 2fr 1fr;

}


.leaderboardTitles {
  text-align:center;
}

.leaderdiv {
  grid-column: 1/4;
  text-align: center;
}

.master_grid {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px auto;

  padding-left: 170px;
  float: left;
}

#leaderboard {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fivexfive {
  grid-template-columns: repeat(5, 1fr);
  width: 500px;
  padding-left: 150px;
}

.sixxsix {
  grid-template-columns: repeat(6, 1fr);
  width: 600px;
  padding-left: 100px;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-image: url('../images/Codeclan.jpg');
  background-position: center;
}

.square:hover{
  opacity: 0.5;
}

img {
  width: 100px;
  height: auto;
  display: none;
}

.hidden {
  display:none;
}

.show {
  display:block;
}


#playerInfo {
  width: 300px;
  margin: 100px auto;


}

#playerInfo a {
 display:block;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E6C372;
  color: white;
  text-align: center;
}
